/*Mobile Devices*/

/*Header*/

/*Main*/

body{
    background: #000000;
    margin: 1vw;
    font-family: futura;
    font-size: 20px;
    color: #ffffff;
}


.con1{
    background: #ffffff;
    margin: 20px;
    height: 800px;
    border: 5px solid #ffffff;
}

.con2{
    background: #005288;
    margin: 20px;
    height: 975px;
    border: 15px solid #A7A9AC;
}

.con3{
    background: #005288;
    margin: 20px;
    height: 700px;
    border: 15px solid #A7A9AC;
}

h1{
    color: #A7A9AC;
    padding: 15px;
}

#homehead{
    font-size: 5vw;
    color: #ffffff;
    position: relative;
    bottom: 14vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    text-align: center;
}

#people{
    color: #ffffff;
    font-size: 7px;
    background: #000000;
    height: 10vw;
    width: 40vw;
    margin-left: 30vw;
}

#peoplebox{
    color: #ffffff;
    font-size: 15px;
    background: #000000;
    height: 3vw;
    width: 3vw;
    margin-left: 18vw;
}

.aboutbox{
    background: #005288;
    height: 7vw;
    margin: 2vw;
    padding: 0.5vw;
    font-family: 'Montserrat', sans-serif;
    
}

.abouttext1{
    height: 65vw;
    width: 70vw;
    font-size: 15px;
}

.abouttext2{
    height: 50vw;
    width: 70vw;
    font-size: 15px;
}

.launchbox{
    height: 7vw;
    margin: 2vw;
    padding: 0.5vw;
    font-family: 'Montserrat', sans-serif;
}    

.launchtext{
    height: 50vw;
    width: 70vw;
    font-size: 15px;
}

/*Contact Form*/

.wrapper{
    top: 50%;
    left: 50%;
    margin-left:2vw;
    width: 70vw;
    background: #005288;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A7A9AC;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid black;
    padding: 7px;
}

.wrapper textarea{
    height: 100px;
    resize: none;
}

.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #A7A9AC;
    color: #005288;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.wrapper #error{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
/*Hamburger Navbar*/

#menu{
    width: 25px;
    height: 20px;
    margin: 20px 0 10px 10px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #808080;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.hamnav li a{
    color: #FFF;
    text-decoration: none;
    font-size: 10px;
}

.hamnav li a:hover{
    font-weight: bold;
    color: #808080;
}


.hamnav li{
    list-style: none;
    padding: 5px 0;
    text-align: left;
}

.hamnav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.change .bar{
    background-color: #FFF;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: block;
}

/*Navbar*/
.topnav ul{
    display: flex;
    list-style: none;
    background: #000000;
    margin-left: 6vw;
    margin-right: 6vw;
    border-bottom: 1px solid #A7A9AC;
}

.topnav ul li a{
    color: #A7A9AC;
    text-decoration: none;
    padding: .8rem 1rem;
    display: none;
    text-align: center;
    margin-right: 12vw;
    margin-left: 2vw;
}

.topnav ul li a.hometab:hover{
    color: #ffffff;
}

.topnav ul li a.abouttab:hover{
    color: #ffffff;
}

.topnav ul li a.launchtab:hover{
    color: #ffffff;
}

.topnav ul li a.contacttab:hover{
    color: #ffffff;
}

.topnav ul li a:active {
    color: #808080;
}

.topnav ul li a.abouttab:active {
    color: #808080;
}

.topnav ul li a.launchtab:active {
    color: #808080;
}

.topnav ul li a.contacttab:active {
    color: #808080;
}

/*Button*/

.launchbtn{
    margin-top: 5vw;
    margin-left: 5vw;
}

 button{
     
    }
    
    button{
        background: #A7A9AC;
        color: #005288;
        width: 140px;
        height: 60px;
        border: 1px solid #ffffff;
        font-size: 25px;
        border-radius: 4px;
        transition: .6s;
        overflow: hidden;
    }
    
    button:focus{
        outline: none;
    }
    
    button:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
    }
    
    button:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15deg);
    }
    
    button:hover{
        background: #FF901B;
        cursor: pointer;
    }
    
    button:hover:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: .6;
        transition: .7s;
    }
    
    button:hover:after{
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: .7s;
    }

/*Images*/

.img1{
    width: 70vw;
}

.img2{
    width: 70vw;
}

.img3{
    padding: 5vw;
    width: 50vw;
}

footer{
    background: #000000;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



/*Desktop*/
@media only screen and (min-width: 950px) {

/*Navbar*/

    
/*Main*/

.aboutbox{
    background: #005288;
    height: 7vw;
    margin: 2vw;
    padding: 0.5vw;
    
}

.abouttext1{
    float: left;
    height: 25vw;
    width: 50vw;
    font-size: 25px;
}

.abouttext2{
    float: right;
    height: 25vw;
    width: 50vw;
    font-size: 25px;
}
    
.launchbox{
    height: 7vw;
    margin: 2vw;
    padding: 0.5vw;
}    

.launchtext{
    float: left;
    height: 20vw;
    width: 35vw;
    font-size: 20px;
}
    
#people{
    color: #ffffff;
    font-size: 25px;
    background: #000000;
    height: 15vw;
    width: 40vw;
    margin-left: 30vw;
}

#peoplebox{
    color: #ffffff;
    font-size: 25px;
    background: #000000;
    height: 3vw;
    width: 3vw;
    margin-left: 18vw;
}
    
    
.topnav ul{
    display: flex;
    list-style: none;
    background: #000000;
    margin-left: 6vw;
    margin-right: 6vw;
    border-bottom: 1px solid #A7A9AC;
}

.topnav ul li a{
    color: #A7A9AC;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    text-align: center;
    margin-right: 12vw;
    margin-left: 2vw;
}

.topnav ul li a.hometab:hover{
    color: #ffffff;
}

.topnav ul li a.abouttab:hover{
    color: #ffffff;
}

.topnav ul li a.launchtab:hover{
    color: #ffffff;
}

.topnav ul li a.contacttab:hover{
    color: #ffffff;
}

.topnav ul li a:active {
    color: #808080;
}

.topnav ul li a.abouttab:active {
    color: #808080;
}

.topnav ul li a.launchtab:active {
    color: #808080;
}

.topnav ul li a.contacttab:active {
    color: #808080;
}    


    
/*Contact Form*/

.wrapper{
    top: 70%;
    left: 50%;
    margin-left: 32vw;
    max-width: 350px;
    width: 100%;
    background: #005288;
    padding: 30px;
    height: 550px;
    font-size: 18px;
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A7A9AC;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid black;
    padding: 7px;
}

.wrapper textarea{
    height: 100px;
    resize: none;
}

.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #A7A9AC;
    color: #005288;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.wrapper #error{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
    
    .launchbtn{
        margin-top: 10vw;
    }
    
    button{
        float: right;
        transform: translate(-50%, -50%);
    }
    
    button{
        background: #A7A9AC;
        color: #005288;
        width: 240px;
        height: 80px;
        border: 1px solid #ffffff;
        font-size: 35px;
        border-radius: 4px;
        transition: .6s;
        overflow: hidden;
    }
    
    button:focus{
        outline: none;
    }
    
    button:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
    }
    
    button:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15deg);
    }
    
    button:hover{
        background: #FF901B;
        cursor: pointer;
    }
    
    button:hover:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: .6;
        transition: .7s;
    }
    
    button:hover:after{
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: .7s;
    }
/*Images*/
    
.img1{
    float: right;
    width: 35vw;
    
}

.img2{
    float: left;
    width: 35vw;
}    

.img3{
    float: right;
    width: 30vw;
    margin-right: 5vw;
}
    
    
    
    
    
    
    
}

/*Footer*/

.footer{
    background: #000000;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copy {
    text-align: center;
    color: #A7A9AC;
}